body {
    background-color: cornflowerblue;
}

.buttonContainer{
    display: flex;
    width: 800px;
    height: auto;
    margin-left: 550px;
    justify-content: space-around;
    align-items: center;
}

#gameTitle {
    display: flex;
    justify-content: center;
}

img {
    width: 250px; 
}

.imageContainer{
    display: flex;
    width: 800px;
    height: auto;
    margin-left: 550px;
    justify-content: space-around;
    align-items: center;
}