body {
    background-color: cornflowerblue;
}

.gameContainer{
    display: flex;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    width: 800px;
    height: auto;
    justify-content: space-around;
    margin-top:50px;
    align-items: center;
}

#gameTitle {
    display: flex;
    justify-content: center;
}

img {
    width: 250px; 
}

.imageContainer{
    display: flex;
    width: 800px;
    height: auto;
    justify-content: space-around;
    align-items: center;
}


.compScore,.playerScore{
    display: flex;
    flex-direction: column;
    align-items: center;
}